In [ ]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [ ]:
# 실제 사이트에서 html 정보를 받아와서 변수에 저장

data = requests.get('https://finance.naver.com/marketindex/exchangeList.naver').text

In [ ]:
# BeautifulSoup을 이용하여 데이터를 파싱
soup = bs(data, 'html.parser')

In [ ]:
print(soup)

In [ ]:
# find 는 html 안에서 해당 태그의 첫번째 정보를 출력
tbody = soup.find('tbody')

In [ ]:
# find_all() : 해당 태그의 저네 정보를 리스트의 형태로 출력
data_list = soup.find_all('td')

In [ ]:
# data_list를 이용하여 2차원 배열로 새로운 리스트를 생성
# 1차원 리스트 생성
# [[7개씩]], [[7개씩]], [[7개씩]], [[7개씩]] -> 2차원 리스트
_list = []
for i in data_list:
    x = i.get_text()
    x = x.replace("\n",'')
    x = x.strip("\t")
    _list.append(x)
_list

In [ ]:
result = []
for i in range(0, (len(_list)//7),1):
    x = []
    for j in range(i*7, (i+1)*7, 1):
        x.append(_list[j])
    result.append(x)

result

In [ ]:
result = []
for i in range(len(_list)//7):
    print(_list[i*7:(i+1)*7])
    result.append(_list[i*7:(i+1)*7])
result

In [ ]:
columns = ['통화명', '매매기준율','현찰(구매), '현찰(판매)', "송금(받을때)", "송금(보낼때)", "미화환산율"]

In [86]:
pd.DataFrame(result)

                0         1         2         3         4         5      6
0          미국 USD  1,315.50  1,338.52  1,292.48  1,328.30  1,302.70  1.000
1        유럽연합 EUR  1,444.68  1,473.42  1,415.94  1,459.12  1,430.24  1.098
2   일본 JPY (100엔)    981.75    998.93    964.57    991.37    972.13  0.746
3          중국 CNY    191.29    200.85    181.73    193.20    189.38  0.145
4          홍콩 HKD    167.60    170.90    164.30    169.27    165.93  0.127
5          대만 TWD     43.15     48.80     38.84       N/A       N/A  0.033
6          영국 GBP  1,635.17  1,667.38  1,602.96  1,651.52  1,618.82  1.243
7          오만 OMR  3,416.71  3,720.79  3,211.71       N/A       N/A  2.597
8         캐나다 CAD    982.52  1,001.87    963.17    992.34    972.70  0.747
9         스위스 CHF  1,468.27  1,497.19  1,439.35  1,482.95  1,453.59  1.116
10        스웨덴 SEK    127.52    130.64    124.40    128.79    126.25  0.097
11         호주 AUD    886.58    904.04    869.12    895.44    877.72  0.674
12       뉴질랜드 NZD    817.45    833.55    801.35    825.62    809.28  0.621
13         체코 CZK     61.62     66.85     56.08     62.29     60.95  0.047
14         칠레 CLP      1.66      1.82      1.50       N/A       N/A  0.001
15       튀르키예 TRY     67.83       N/A       N/A     68.57     67.09  0.052
16         몽골 MNT      0.37       N/A       N/A       N/A       N/A  0.000
17       이스라엘 ILS    360.97    397.06    332.10       N/A       N/A  0.274
18        덴마크 DKK    193.87    198.61    189.13    195.80    191.94  0.147
19       노르웨이 NOK    125.50    128.57    122.43    126.75    124.25  0.095
20    사우디아라비아 SAR    350.73    372.82    326.53    354.23    347.23  0.267
21       쿠웨이트 KWD  4,292.85  4,571.88  3,949.43  4,335.77  4,249.93  3.263
22        바레인 BHD  3,489.11  3,712.41  3,209.99  3,524.00  3,454.22  2.652
23     아랍에미리트 AED    358.21    377.91    333.50    361.79    354.63  0.272
24        요르단 JOD  1,854.38  2,019.41  1,706.03       N/A       N/A  1.410
25        이집트 EGP     42.57       N/A       N/A       N/A       N/A  0.032
26         태국 THB     38.42     40.34     36.12     38.80     38.04  0.029
27       싱가포르 SGD    987.95  1,007.61    968.29    997.82    978.08  0.751
28      말레이시아 MYR    297.02    315.73    275.05       N/A    294.05  0.226
29  인도네시아 IDR 100      8.88      9.76      8.00      8.96      8.80  0.007
30        카타르 QAR    360.59       N/A       N/A       N/A       N/A  0.274
31      카자흐스탄 KZT      2.91       N/A       N/A       N/A       N/A  0.002
32       브루나이 BND    987.95  1,027.46    928.68       N/A       N/A  0.751
33         인도 INR     16.02       N/A       N/A       N/A       N/A  0.012
34       파키스탄 PKR      4.63       N/A       N/A       N/A       N/A  0.004
35      방글라데시 BDT     12.39       N/A       N/A       N/A       N/A  0.009
36        필리핀 PHP     23.43     25.77     21.51     23.66     23.20  0.018
37        멕시코 MXN     72.90     80.19     66.78     73.62     72.18  0.055
38        브라질 BRL    263.84    290.75    237.46       N/A    260.68  0.201
39    베트남 VND 100      5.60      6.26      4.94      5.65      5.55  0.004
40  남아프리카 공화국 ZAR     72.54     78.34     66.74     73.41     71.67  0.055
41        러시아 RUB     16.08     17.60     13.27     16.64     15.52  0.012
42        헝가리 HUF      3.89      4.25      3.58      3.93      3.85  0.003
43        폴란드 PLN    311.86    336.80    286.92    315.29    308.43  0.237
44       스리랑카 LKR      4.11       N/A       N/A       N/A       N/A  0.003
45        알제리 DZD      9.70       N/A       N/A       N/A       N/A  0.007
46         케냐 KES      9.74       N/A       N/A       N/A       N/A  0.007
47       콜롬비아 COP      0.29       N/A       N/A       N/A       N/A  0.000
48       탄자니아 TZS      0.56       N/A       N/A       N/A       N/A  0.000
49         네팔 NPR     10.02       N/A       N/A       N/A       N/A  0.008
50       루마니아 RON    292.61       N/A       N/A       N/A       N/A  0.222
51        리비아 LYD    275.95       N/A       N/A    278.70    273.20  0.210
52        마카오 MOP    162.65       N/A       N/A       N/A       N/A  0.124
53        미얀마 MMK      0.63       N/A       N/A       N/A       N/A  0.001
54      에티오피아 ETB     24.15       N/A       N/A       N/A       N/A  0.018
55     우즈베키스탄 UZS      0.12       N/A       N/A       N/A       N/A  0.000
56       캄보디아 KHR      0.32       N/A       N/A       N/A       N/A  0.000
57         피지 FJD    589.61       N/A       N/A       N/A       N/A  0.448

In [ ]:
import mod_sql

In [ ]:
db = mod_sql.Database('localhost','root','1234','ubion7',3306)

In [ ]:
# DB에 table 생성 (naver)
# 필드는 7개 모두 필드의 타입은 문자열 구성
# 통화명 필드는 primary key

sql = """ 
create
table
`naver`(
    `통화명` varchar(16) primary key,
    `매매기준율` varchar(16),
    `현찰(구매)` varchar(16),
    `현찰(판매)` varchar(16),
    `송금(보낼때)` varchar(16),
    `송금(받을때)` varchar(16),
    `미화환산율` varchar(16)
)
"""

db.func_3(sql)

In [ ]:
# naver 라는 이름으로 생성한 테이블에 데이터 삽입
# 데이터를 삽입하는 insert문 작성

sql = """ 
insert
into
naver
values(
    '통화',
    '2',
    '3',
    '4',
    '5',
    '6',
    '7'
)
"""
db.func_3(sql)

In [ ]:
sql = """ 
insert
into
naver2
values
(`%s,%s,%s,%s,%s,%s,%s)
"""

In [116]:
sql = """
delete
from
naver2
"""
db.func_3(sql)

'Query Ok'

In [117]:
sql = """ 
insert
into
naver2
(`통화명`,`매매기준율`,`현찰(구매)`,`현찰(판매)`,`송금(보낼때)`,`송금(받을때)`,`미화환산율`)
values
(%s,%s,%s,%s,%s,%s,%s)
"""

for i in result:
    db.func_3(sql, i)